<mat-card color="primary">
    <form (ngSubmit)="onCreatePost($event)">
        <h2 class="mat-h2">Create post</h2>
        <h3 class="mat-h3">Title</h3>
        <mat-form-field>
            <input matInput color="primary" name="enteredTitle" [(ngModel)]="enteredTitle">
        </mat-form-field>
        <h3 class="mat-h3">Content</h3>
        <mat-form-field>
            <textarea matInput color="primary" rows="5" name="enteredValue" [(ngModel)]="enteredValue"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create Post</button>
    </form>
</mat-card>