<app-post-create (eventEmitter)="addPosts($event)"></app-post-create>
<div>
    <mat-accordion multi="true" *ngIf="posts.length > 0">
        <mat-expansion-panel *ngFor="let post of posts; index as i">
            <mat-expansion-panel-header>
                <p class="mat-body">
                    Post #{{ i+1 }}: {{ post.title }}
                </p>
            </mat-expansion-panel-header>
            <div class="mat-body-1">
                {{ post.content }}
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <p class="info-text" *ngIf="posts.length <= 0">No posts yet.</p>
</div>